@import './multipass.scss';

html,
body {
  position: fixed;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: #112a32;
  box-shadow: inset 0 0 200px #0006;
}

.links {
  top: 60px;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;

  a {
    margin: 28px;
    color: #e4f03c;
    font-family: 'Electrolize', monospace;
    text-decoration: none;

    &:hover {
      color: #e4f03caa;
    }
  }
}