<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

{% seo %}

{% if page.sitemap == false %}
<meta name="robots" content="noindex" />
{% endif %}

<!-- Style -->
<link rel="stylesheet" href="{{ "/css/style.css" | relative_url }}">

<!-- Favicon -->
<link rel="icon" href="{{ "/assets/favicon-16x16.png" | relative_url }}">

<!-- Preconnect Font -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">

<!-- Advertisement -->
{% if page.sitemap != false %}
<!-- Google AdSense (inactive) -->
<script
  async
  src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8781416766784863"
  crossorigin="anonymous"
></script>
<!-- AdMaven verification -->
<meta name='admaven-placement' content=Bqjw8qTr4>
<!-- AdMaven in page push -->
<script data-cfasync="false" src="//dcbbwymp1bhlf.cloudfront.net/?wbbcd=1254586"></script>
{% endif %}