<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, user-scalable=no"
/>
<meta name="description" content="{{ page.description }}" />
<meta name="keywords" content="Flanny App" />
<meta name="author" content="Peter James Flanagan" />

<title>{{ page.title }}</title>
<link rel="icon" type="image/png" href="" sizes="16x16" />

<!-- Social -->
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:description" content="{{ page.description }}" />
<meta property="og:image" content="{{ page.image }}" />
<meta property="og:url" content="" />

<!-- Facebook -->
<meta property="og:type" content="website" />
<meta property="og:image:secure_url" content="{{ page.image }}" />

<!-- Twitter -->
<meta name="twitter:title" content="{{ page.title }}" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="flanny.app" />
<meta name="twitter:creator" content="" />
<meta name="twitter:image" content="{{ page.image }}" />

<!-- Preconnect Font -->
<!-- <link rel="preconnect" href="https://fonts.gstatic.com/" />
        <link
          rel="preconnect"
          href="https://fonts.gstatic.com/"
          crossOrigin="anonymous"
        /> -->

<!-- Advertisement -->
<script
  async
  src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8781416766784863"
  crossorigin="anonymous"
></script>