
$footerHeight: 80px;

header {
  position: fixed;
  z-index: 2;
  width: 100vw;
  height: 64px;
  background: $blackTransparent;
  border-bottom: 1px solid $backgroundLight;
  backdrop-filter: blur(24px);
}

#content-container {
  position: relative;
  z-index: 1;
  height: 100vh;
  width: 100vw;

  #content-sheet {
    min-height: 100vh;
    width: 100vw;
    background: $backgroundDark;
    padding-top: 64px;

    #content-holder {
      margin: 0 auto;
      max-width: 820px;
    }
  }

  #content-gap {
    height: $footerHeight;
    width: 100vw;
    pointer-events: none;
  }
}

footer {
  position: fixed;
  bottom: 0;
  z-index: -1;
  height: $footerHeight;
  width: 100vw;
  background: $black;
  text-align: center;
  line-height: $footerHeight;
  color: $whiteTransparent;
}