
header {
  position: fixed;
  z-index: 2;
  width: 100vw;
  height: 64px;
  background: $backgroundDarkTransparent;
  border-bottom: 1px solid $backgroundLight;
}

#content-container {
  position: relative;
  z-index: 1;
  height: 100vh;

  #content-holder {
    min-height: 100vh;
    background: $backgroundDark;
    padding-top: 64px;
  }

  #content-gap {
    height: 120px;
    width: 100%;
    pointer-events: none;
  }
}

footer {
  position: fixed;
  bottom: 0;
  z-index: -1;
  height: 120px;
  width: 100vw;
  background: $black;
}