$headerHeight: 64px;
$footerHeight: 80px;

#noise {
  background: url(/assets/noise.png);
  height: 100%;
  max-width: 100%;
  opacity: .6;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 201;
}

header {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100vw;
  height: $headerHeight;
  background: $blackTransparent;
  border-bottom: 1px solid $backgroundLight;
  backdrop-filter: blur(24px);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

#content-container {
  position: relative;
  z-index: 1;
  height: 100vh;
  width: 100vw;

  #content-sheet {
    min-height: 100vh;
    width: 100vw;
    background: $backgroundDark;
    padding-top: $headerHeight;

    #content-holder {
      margin: 0 auto;
      max-width: 820px;
      padding: 24px;
      overflow-x: hidden;
    }
  }

  #content-gap {
    height: $footerHeight;
    width: 100vw;
    pointer-events: none;
  }
}

footer {
  position: fixed;
  bottom: 0;
  z-index: -1;
  height: $footerHeight;
  width: 100vw;
  background: $black;
  text-align: center;
  line-height: $footerHeight;
  color: $whiteTransparent;
}