@import 'variables';

#post {

  #background-image {
    position: fixed;
    top: 0;
    background-position: 50%;
    background-size: cover;
    box-shadow: inset 0 0 100px rgba(0, 0, 0, .533), -2px -2px 8px rgba(0, 0, 0, .267);
    height: 400px;
    width: 100%;
    z-index: -1;
  }

  #content-container {

    #content-sheet {
      margin-top: 360px;
      padding-top: 0px;
      border-top: 1px solid $backgroundLight;

      #content-holder {

        img {
          border: 1px solid rgba(21, 114, 112, .533);
          color: #1fcfcc;
          margin-left: 50%;
          max-height: 400px;
          max-width: 100%;
          text-align: center;
          transform: translateX(-50%);
        }

      }
    }
  }
}